<p id="notice"><%= notice %></p>

<h1>Listing Second Year Checkups</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @second_year_checkups.each do |second_year_checkup| %>
      <tr>
        <td><%= link_to 'Show', second_year_checkup %></td>
        <td><%= link_to 'Edit', edit_second_year_checkup_path(second_year_checkup) %></td>
        <td><%= link_to 'Destroy', second_year_checkup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Second year checkup', new_second_year_checkup_path %>
