<h4 class="text-center">
    Timeline
</h4>

<div class="progress">
    <div class="progress-bar progress-bar-warning" style="width: <%= project.pourcent_done %>%">
        <%= project.days_done %> Days done
    </div>
    <div class="progress-bar progress-bar-success" style="width: <%= project.pourcent_left %>%">
        <%= project.days_left %> Days left
    </div>
</div>

<div class="col-xs-4 nopadding text-left">
    Beginning : <%= project.begin %>
</div>

<div class="col-xs-4 nopadding text-center">
    <%= (project.end - project.begin).to_i %> Days
</div>

<div class="col-xs-4 nopadding text-right">
    End : <%= project.end %>
</div>
