<p id="notice"><%= notice %></p>

<h1>Listing Epitech Module Instance Activities</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @module_instance_activity_relations.each do |epitech_module_instance_activity| %>
      <tr>
        <td><%= link_to 'Show', epitech_module_instance_activity %></td>
        <td><%= link_to 'Edit', edit_epitech_module_instance_activity_path(epitech_module_instance_activity) %></td>
        <td><%= link_to 'Destroy', epitech_module_instance_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Epitech module instance activity', new_epitech_module_instance_activity_path %>
